In [2]:
import ast
import os
import pandas as pd
pd.set_option('display.max_columns', 50)

In [2]:
def save_dataframe_csv(df, path, name):
    df.to_csv(path+name, index=False)

In [3]:
def load_tuning_results(folder_path):
    # get all files in the folder path 
    csv_files = [os.path.join(folder_path, f) for f in os.listdir(folder_path) if os.path.isfile(os.path.join(folder_path, f)) and f.endswith('.csv')]
    
    df = pd.DataFrame()
    for record in csv_files:
        df = df.append(pd.read_csv(record))
    return df

In [4]:
df_yelp_rating = load_tuning_results(folder_path='tables/yelp_toronto/')

In [5]:
metric='NDCG'
df_yelp_rating = df_yelp_rating.sort_values(by=metric, ascending=False)

In [6]:
df_yelp_rating.model.unique()

array(['NCE-PLRec', 'VAE-CF', 'PLRec', 'BPR', 'CDAE', 'AutoRec', 'POP',
       'PureSVD'], dtype=object)

In [12]:
df_yelp_rating[df_yelp_rating['model'] == 'PureSVD']

,model,rank,alpha,lambda,iter,similarity,corruption,root,topK,MAP@10,MAP@20,MAP@5,NDCG,Precision@10,Precision@20,Precision@5,R-Precision,Recall@10,Recall@20,Recall@5
0,PureSVD,50,1,1.0,10,Cosine,0.0,1.0,NaN,"[0.0116, 0.0011]","[0.01, 0.0008]","[0.013, 0.0016]","[0.0329, 0.0025]","[0.0096, 0.0007]","[0.0078, 0.0005]","[0.0114, 0.0011]","[0.0136, 0.002]","[0.0391, 0.0036]","[0.0629, 0.0045]","[0.0238, 0.0028]"
1,PureSVD,100,1,1.0,10,Cosine,0.0,1.0,NaN,"[0.0095, 0.001]","[0.0083, 0.0007]","[0.011, 0.0014]","[0.028, 0.0023]","[0.0077, 0.0007]","[0.0068, 0.0004]","[0.0089, 0.001]","[0.0107, 0.0017]","[0.0321, 0.0033]","[0.0552, 0.0042]","[0.0184, 0.0025]"
2,PureSVD,200,1,1.0,10,Cosine,0.0,1.0,NaN,"[0.0078, 0.0009]","[0.0068, 0.0007]","[0.009, 0.0013]","[0.0221, 0.0019]","[0.0062, 0.0006]","[0.0055, 0.0004]","[0.0073, 0.0009]","[0.008, 0.0013]","[0.0243, 0.0028]","[0.0445, 0.0038]","[0.014, 0.0021]"

In [13]:
vae_df = df_yelp_rating[df_yelp_rating['model'] == 'VAE-CF']
save_dataframe_csv(vae_df, 'tables/yelp_toronto/', 'vae.csv')

In [14]:
cdae_df = df_yelp_rating[df_yelp_rating['model'] == 'CDAE']
save_dataframe_csv(cdae_df, 'tables/yelp_toronto/', 'cdae.csv')

In [15]:
bpr_df = df_yelp_rating[df_yelp_rating['model'] == 'BPR']
save_dataframe_csv(bpr_df, 'tables/yelp_toronto/', 'bpr.csv')

### Checking final results

In [3]:
df = pd.read_csv('./tables/final_result.csv')

In [7]:
metric='NDCG'

In [8]:
df[['model', 'NDCG']]

        model              NDCG
0      VAE-CF  [0.0209, 0.0015]
1        CDAE  [0.0118, 0.0009]
2         BPR  [0.0182, 0.0013]
3   NCE-PLRec  [0.0147, 0.0012]
4        CDAE  [0.0115, 0.0009]
5        CDAE   [0.0119, 0.001]
6     PureSVD  [0.0131, 0.0012]
7         BPR  [0.0045, 0.0006]
8     AutoRec    [0.013, 0.001]
9         BPR  [0.0101, 0.0008]
10       CDAE  [0.0159, 0.0015]
11     VAE-CF  [0.0227, 0.0015]
12     VAE-CF  [0.0227, 0.0016]
13        BPR  [0.0055, 0.0007]
14      PLRec  [0.0151, 0.0012]
15        POP  [0.0111, 0.0009]
16        BPR  [0.0143, 0.0012]
17     VAE-CF  [0.0232, 0.0016]

In [20]:
df.columns

Index(['model', 'rank', 'alpha', 'lambda', 'iter', 'similarity', 'corruption',
       'root', 'topK', 'MAP@10', 'MAP@15', 'MAP@20', 'MAP@5', 'MAP@50', 'NDCG',
       'Precision@10', 'Precision@15', 'Precision@20', 'Precision@5',
       'Precision@50', 'R-Precision', 'Recall@10', 'Recall@15', 'Recall@20',
       'Recall@5', 'Recall@50', 'metric'],
      dtype='object')

In [54]:
df[df['model'] == 'POP'][['model', 'NDCG', 'Recall@5', 'Precision@10', 'Precision@20']].sort_values(by=metric, ascending=False)

,model,NDCG,Recall@5,Precision@10,Precision@20
15,POP,"[0.0111, 0.0009]","[0.0014, 0.0006]","[0.0055, 0.0006]","[0.0042, 0.0004]"

In [32]:
df[df['model'] == 'AutoRec'][['model', 'NDCG', 'Recall@5', 'Recall@10', 'Recall@20']].sort_values(by=metric, ascending=False)

,model,NDCG,Recall@5,Recall@10,Recall@20
8,AutoRec,"[0.013, 0.001]","[0.002, 0.0007]","[0.0051, 0.0011]","[0.0082, 0.0015]"

In [36]:
df[df['model'] == 'BPR'][['model', 'NDCG', 'Recall@5', 'Recall@10', 'Recall@20']].sort_values(by=metric, ascending=False)

,model,NDCG,Recall@5,Recall@10,Recall@20
2,BPR,"[0.0182, 0.0013]","[0.0037, 0.001]","[0.0105, 0.0016]","[0.0238, 0.0025]"
16,BPR,"[0.0143, 0.0012]","[0.0042, 0.0011]","[0.0096, 0.0017]","[0.017, 0.0022]"
9,BPR,"[0.0101, 0.0008]","[0.0003, 0.0003]","[0.0023, 0.0008]","[0.0179, 0.0021]"
13,BPR,"[0.0055, 0.0007]","[0.0019, 0.0008]","[0.0032, 0.0009]","[0.0063, 0.0013]"
7,BPR,"[0.0045, 0.0006]","[0.001, 0.0004]","[0.0022, 0.0007]","[0.005, 0.0011]"

In [40]:
df[df['model'] == 'PureSVD'][['model', 'NDCG', 'Recall@5', 'Recall@10', 'Recall@20']].sort_values(by=metric, ascending=False)

,model,NDCG,Recall@5,Recall@10,Recall@20
6,PureSVD,"[0.0131, 0.0012]","[0.0047, 0.0011]","[0.0089, 0.0015]","[0.0169, 0.0021]"

In [57]:
df[df['model'] == 'CDAE'][['model', 'NDCG', 'Recall@5', 'Recall@10', 'Recall@20']].sort_values(by=metric, ascending=False)

   model              NDCG       R-Precision
10  CDAE  [0.0159, 0.0015]  [0.0056, 0.0011]
5   CDAE   [0.0119, 0.001]  [0.0017, 0.0003]
1   CDAE  [0.0118, 0.0009]  [0.0024, 0.0004]
4   CDAE  [0.0115, 0.0009]  [0.0025, 0.0004]

In [66]:
df[df['model'] == 'NCE-PLRec'][['model', 'NDCG', 'R-Precision', 'Recall@5', 'Recall@10', 'Recall@20']].sort_values(by=metric, ascending=False)

,model,NDCG,R-Precision,Recall@5,Recall@10,Recall@20
3,NCE-PLRec,"[0.0147, 0.0012]","[0.0031, 0.0006]","[0.0054, 0.0012]","[0.0096, 0.0016]","[0.0185, 0.0022]"

In [ ]:
df[df['model'] == 'PLRec'][['model', 'NDCG', 'MAP@5', 'MAP@10', 'MAP@20']].sort_values(by=metric, ascending=False)

In [55]:
df[df['model'] == 'VAE-CF'][['model', 'NDCG', 'Precision@5', 'Precision@10', 'Precision@20']].sort_values(by=metric, ascending=False)

,model,NDCG,Precision@5,Precision@10,Precision@20
17,VAE-CF,"[0.0232, 0.0016]","[0.0055, 0.0008]","[0.0051, 0.0005]","[0.0048, 0.0004]"
12,VAE-CF,"[0.0227, 0.0016]","[0.005, 0.0007]","[0.0051, 0.0005]","[0.0048, 0.0004]"
11,VAE-CF,"[0.0227, 0.0015]","[0.0051, 0.0008]","[0.0051, 0.0005]","[0.0047, 0.0004]"
0,VAE-CF,"[0.0209, 0.0015]","[0.0047, 0.0007]","[0.0045, 0.0005]","[0.0042, 0.0004]"

     model              NDCG
6  PureSVD  [0.0131, 0.0012]

   model              NDCG
10  CDAE  [0.0159, 0.0015]
5   CDAE   [0.0119, 0.001]
1   CDAE  [0.0118, 0.0009]
4   CDAE  [0.0115, 0.0009]

In [16]:
df[df['model'] == 'NCE-PLRec'][['model', 'NDCG']].sort_values(by=metric, ascending=False)

       model              NDCG
3  NCE-PLRec  [0.0147, 0.0012]

In [17]:
df[df['model'] == 'PLRec'][['model', 'NDCG']].sort_values(by=metric, ascending=False)

    model              NDCG
14  PLRec  [0.0151, 0.0012]

In [18]:
df[df['model'] == 'BPR'][['model', 'NDCG']].sort_values(by=metric, ascending=False)

   model              NDCG
2    BPR  [0.0182, 0.0013]
16   BPR  [0.0143, 0.0012]
9    BPR  [0.0101, 0.0008]
13   BPR  [0.0055, 0.0007]
7    BPR  [0.0045, 0.0006]