In [4]:
import pandas as pd

from datetime import datetime

In [2]:
df = pd.read_csv('ratings.csv')
# convert timestamp string to datetime format
df.timestamp = pd.to_datetime(df.timestamp, infer_datetime_format=True)

In [20]:
df.head()

   userId  movieId  rating           timestamp
0       1        2     3.5 2005-04-02 23:53:47
1       1       29     3.5 2005-04-02 23:31:16
2       1       32     3.5 2005-04-02 23:33:39
3       1       47     3.5 2005-04-02 23:32:07
4       1       50     3.5 2005-04-02 23:29:40

In [ ]:
df.timestamp.apply(lambda x: int(datetime.timestamp(x)))

In [16]:
datetime.strptime(df.timestamp[0].replace('-','/'), '%y/m/%d %H:%M:%S')

ValueError: time data '2005/04/02 23:53:47' does not match format '%y/m/%d %H:%M:%S'