In [4]:
import pandas as pd

from datetime import datetime

In [2]:
df = pd.read_csv('ratings_raw.csv')
# convert timestamp string to datetime format
df.timestamp = pd.to_datetime(df.timestamp, infer_datetime_format=True)
df.timestamp = df.timestamp.apply(lambda x: int(datetime.timestamp(x)))

In [ ]:
# zero indexing user and item id
df.userId = df.userId - 1
df.movieId = df.movieId - 1

In [30]:
df.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112504027
1       1       29     3.5  1112502676
2       1       32     3.5  1112502819
3       1       47     3.5  1112502727
4       1       50     3.5  1112502580

In [44]:
df.to_csv('ratings.csv')